{% extends "base.html" %}

{% block content %}
    <hr>
    <div class="mt-5">
        <h5 class="mt-3">Node identifier: <b>{{ node_indentifier }}</b></h5>
        <h5 class="mt-3">Wallet status: <b>{{ wallet_status }} YC</b></h5>
        <a target=”_blank” href="{{ url_for('api_wallet') }}">get JSON</a>
    </div>
    <hr>
    <div class="mt-5">
        <h3>Your transactions history:</h3>
        <p style="font-size: 12px;">
            <span class="text-warning">yellow - pending</span><br>
            <span class="text-success">green - gain</span><br>
            <span class="text-danger">red - loss</span><br>
        </p>
        {% with transactions=transactions, node_indentifier=node_indentifier, pending_transactions=pending_transactions %}
            {% include 'include/transactions_table.html' %}
        {% endwith %}
    </div>
{% endblock %}