<table class="mt-3 border table table-secondary table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sender</th>
            <th scope="col">Recipient</th>
            <th scope="col">Amount</th>
            <th scope="col">Creation date</th>
        </tr>
    </thead>
    <tbody id="transactionsTableBody">
        {% if pending_transactions %}
            {% for transaction in pending_transactions %}
                    <tr class="table-warning">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ transaction.sender }}</td>
                        <td>{{ transaction.recipient }}</td>
                        <td>{{ transaction.amount|float }} YC</td>
                        <td>{{ to_datetime(transaction.creation_date).strftime('%d-%m-%Y %H:%M') }}</td>
                    </tr>    
            {% endfor %}
        {% endif %}    
        {% if transactions %}
            {% for transaction in transactions %}
                {% if node_indentifier and node_indentifier == transaction.sender %}
                    <tr class="table-danger">
                {% elif node_indentifier and node_indentifier == transaction.recipient %}
                    <tr class="table-success">
                {% else %}
                    <tr>
                {% endif %}
                        <th scope="row">{% if pending_transactions %}{{ loop.index + pending_transactions|length }}{% else %}{{ loop.index }}{% endif %}</th>
                        <td>{{ transaction.sender }}</td>
                        <td>{{ transaction.recipient }}</td>
                        <td>{{ transaction.amount|float }} YC</td>
                        <td>{{ to_datetime(transaction.creation_date).strftime('%d-%m-%Y %H:%M') }}</td>
                    </tr>    
            {% endfor %}
        {% endif %}    
    </tbody>
</table>